<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>{{ 'footer.assuracing' | translate }}</h3>
      <p>{{ 'footer.description' | translate }}</p>
    </div>

    <div class="footer-section">
      <h3>{{ 'footer.legal' | translate }}</h3>
      <ul class="footer-links">
        <li>
          <a href="/VAX CONSEILS-charte de protection des données personnelles.pdf" target="_blank">{{ 'footer.privacyPolicy' | translate }}</a>
        </li>
        <li>
          <a href="/CGU_Assuracing_Version_Detaillee.pdf" target="_blank">{{ 'footer.cgu' | translate }}</a>
        </li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>{{ 'footer.contact' | translate }}</h3>
      <ul class="footer-links">
        <li>
          <a href="mailto:contact&#64;assuracing.com">info&#64;assuracing.com</a>
        </li>
        <li>
          <a href="tel:+33185390149">+33 1 85 39 01 49</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} Assuracing. {{ 'footer.rights' | translate }}</p>
  </div>
</footer>
