<!DOCTYPE html>

<form [formGroup]="form">

<div class="login-form">

    <h3> Votre véhicule </h3>
    <div class="form-group">
        <label for="type"></label>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Type véhicule</mat-label>
            <mat-select formControlName="type" [disabled]="showVehicleTypeTooltip" >
              <mat-option *ngFor="let type of vehicleTypes" [value]="type.value">
                {{type.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-icon 
            *ngIf="showVehicleTypeTooltip"
            matTooltip="Pour changer le type de véhicule, remontez à l'étape 1"
            class="info-icon">
            info
          </mat-icon>
    </div>

    <div class="form-group">
        <label for="brand"></label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Marque</mat-label>
          <mat-select formControlName="brand"  panelClass="brand-select-panel" (openedChange)="onBrandPanelOpened($event)">
            <div class="search-container">
              <input #brandSearchInput class="search-input" placeholder="Rechercher..." (click)="$event.stopPropagation()" (input)="filterBrands($event)">
            </div>
            <mat-option *ngFor="let brand of filteredBrands" [value]="brand">
              {{brand}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>

    <div class="form-group">
        <label for="model">Modèle</label>
        
        <input formControlName="model" type="text" id="model" class="form-control">
    </div>

    <div class="radio">
        <label> <strong>Numéro d'identification</strong> <mat-icon class="info-icon" matTooltip="Si c'est un véhicule de location, selectionnez immatriculation et renseignez 'Location'">info</mat-icon></label>
        <div class="radio-group">
            <label for="immat">Immatriculation</label>
            <input type="radio" id="immat" formControlName="identificationNumber" value="immat">
        </div>
        <div class="radio-group">
            <label for="chassis">Nº chassis</label>
            <input type="radio" id="chassis" formControlName="identificationNumber" value="chassis">
        </div>
        <div class="radio-group">
            <label for="serie">Nº série</label>
            <input type="radio" id="serie" formControlName="identificationNumber" value="serie">
        </div>
    </div>

    <div class="form-group" *ngIf="form.get('identificationNumber')?.value === 'immat'">
        <label for="immatNumber">Immatriculation</label>
        <input formControlName="immatNumber" type="text" id="immatNumber" class="form-control" >
    </div>

    <div class="form-group" *ngIf="form.get('identificationNumber')?.value === 'chassis'">
        <label for="chassisNumber">Nº chassis</label>
        <input formControlName="chassisNumber" type="text" id="chassisNumber" class="form-control" >
    </div>

    <div class="form-group" *ngIf="form.get('identificationNumber')?.value === 'serie'">
        <label for="serieNumber">Nº série</label>
        <input formControlName="serieNumber" type="text" id="serieNumber" class="form-control" >
    </div>

    <div class="form-group" *ngIf="this.userAge && this.userAge >= 18 && this.vehicleType === 'moto'">
        <label for="titreConduite"></label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Titre de conduite</mat-label>
          <mat-select formControlName="titreConduite" [disabled]="showDriveLicenseTooltip" >
            <mat-option *ngFor="let license of getFilteredLicenseTypes()" [value]="license.value">
              {{license.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon 
          *ngIf="showDriveLicenseTooltip"
          [matTooltip]="getDriveLicenseTooltipMessage()"
          class="info-icon">
          info
        </mat-icon>
    </div>

    <div class="radio" *ngIf="this.userAge && this.userAge < 18 && this.vehicleType === 'moto'">
      <label> <strong>Possédez-vous le CASM ?</strong>
        <mat-icon 
        *ngIf="showDriveLicenseTooltip"
        [matTooltip]="getDriveLicenseTooltipMessage()"
        class="info-icon">
        info
      </mat-icon>
      </label>
      <div class="radio-group">
          <label for="hasCasm">Oui</label>
          <input type="radio" id="hasCasm" formControlName="hasCasm" value="Oui">
      </div>
      <div class="radio-group">
          <label for="hasntCasm">Non</label>
          <input type="radio" id="hasntCasm" formControlName="hasCasm" value="Non">
      </div>
    </div>

    
    <div class="radio" *ngIf="this.vehicleType === 'auto'">
      <label> <strong>Possédez-vous le permis B ?</strong>
      <mat-icon 
      *ngIf="showDriveLicenseTooltip"
      [matTooltip]="getDriveLicenseTooltipMessage()"
      class="info-icon">
      info
    </mat-icon>
      </label>
      <div class="radio-group">
          <label for="hasPermisB">Oui</label>
          <input type="radio" id="hasPermisB" formControlName="hasPermisB" value="Oui">
      </div>
      <div class="radio-group">
          <label for="hasntPermisB">Non</label>
          <input type="radio" id="hasntPermisB" formControlName="hasPermisB" value="Non">
      </div>
    </div>

    <div class="form-group" *ngIf="(form.get('hasCasm')?.value === 'Oui' && this.vehicleType === 'moto') || (form.get('hasPermisB')?.value === 'Oui' && this.vehicleType === 'auto') || (this.userAge && this.userAge >= 18 && this.vehicleType)">
        <label for="titreNumber">Nº titre</label>
        <input formControlName="titreNumber" type="text" id="titreNumber" class="form-control" >
    </div>

</div>

</form>