<div class="type-selector">
  <h2>Quel est le type de sinistre ?</h2>
  
  <div class="types-grid">
    <mat-card *ngFor="let type of claimTypes"
      class="type-option"
      [class.selected]="selectedType === type.code"
      (click)="selectType(type.code)">
      
      <mat-card-content>
        <mat-icon class="type-icon">
          {{ type.code === 'ANNULATION' ? 'event_busy' : type.code === 'INTERRUPTION' ? 'block' : 'thunderstorm' }}
        </mat-icon>
        <h3>{{ type.libelle }}</h3>
        <div class="type-footer" *ngIf="selectedType === type.code">
          <mat-icon>check_circle</mat-icon>
          <span>Sélectionné</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
