input:disabled, .form-control:disabled, input[disabled], .form-control[disabled] {
    background-color: #f0f0f0 !important;
    color: #888 !important;
    border-color: #ddd !important;
    cursor: not-allowed;
    opacity: 1;
  }
  
  .radio {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 20px 0;
  
      input[type="radio"] {
          margin-right: 8px;
      }
  }