<!DOCTYPE html>
<h2 style="display: flex; justify-content: center;">Vos informations</h2>
<form [formGroup]="form" class="login-form">

    <div class="form-group">
        <label for="email">Email (identifiant)</label>
        <input formControlName="email" type="email" id="email" class="form-control" required (blur)="onEmailBlur()">
        <div *ngIf="isInvalid('email')" class="error-message">
            {{ getErrorMessage('email') }}
        </div>
    </div>

    <div class="form-group">
        <label>Genre</label>
        <div class="radio">
            <input type="radio" id="male" formControlName="civility" value="M" required>
            <label for="male">Homme</label>
            <input type="radio" id="female" formControlName="civility" value="Mme" required>
            <label for="female">Femme</label>
        </div>
    </div>

    <div class="form-group">
        <label for="firstname">Prénom</label>
        <input formControlName="firstname" type="text" id="firstname" class="form-control" required>
        <div *ngIf="isInvalid('firstname')" class="error-message">
            {{ getErrorMessage('firstname') }}
        </div>
    </div>

    <div class="form-group">
        <label for="lastname">Nom</label>
        <input formControlName="lastname" type="text" id="lastname" class="form-control" required>
        <div *ngIf="isInvalid('lastname')" class="error-message">
            {{ getErrorMessage('lastname') }}
        </div>
    </div>

    <div class="form-group">
        <label for="phone">Téléphone</label>
        <input formControlName="phone" type="tel" id="phone" class="form-control" required>
        <div *ngIf="isInvalid('phone')" class="error-message">
            {{ getErrorMessage('phone') }}
        </div>
    </div>

    <div class="form-group">
        <label for="address">Adresse</label>
        <input formControlName="address" type="text" id="address" class="form-control" required>
        <div *ngIf="isInvalid('address')" class="error-message">
            {{ getErrorMessage('address') }}
        </div>
    </div>

    <div class="form-group">
        <label for="addressComplement">Complément d'adresse</label>
        <input formControlName="addressComplement" type="text" id="addressComplement" class="form-control">
        <div *ngIf="isInvalid('addressComplement')" class="error-message">
            {{ getErrorMessage('addressComplement') }}
        </div>
    </div>

    <div class="form-group" style="position: relative;">
        <label for="postalCode">Code postal</label>
        <input 
            autocomplete="off"
            #postalCodeInput
            formControlName="postalCode" 
            id="postalCode" 
            class="form-control" 
            required
            appNumbersOnly 
            [maxLength]="form.get('country')?.value === 'France' ? 5 : 8"
            (focus)="onPostalCodeInput()"
            (blur)="onPostalCodeBlur()">
        <div *ngIf="isInvalid('postalCode')" class="error-message">
            {{ getErrorMessage('postalCode') }}
        </div>
        
        <div 
            *ngIf="showPostalCodeSuggestions && postalCodeSuggestions.length > 0" 
            class="postal-code-suggestions"
            (mousedown)="$event.preventDefault()">
            <div 
                *ngFor="let item of postalCodeSuggestions" 
                class="suggestion-item"
                (mousedown)="selectPostalCode(item)">
                <span class="postal-code">{{ item.code }}</span>
                <span class="city-name">{{ item.city }}</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="city">Ville</label>
        <input formControlName="city" type="text" id="city" class="form-control" required>
        <div *ngIf="isInvalid('city')" class="error-message">
            {{ getErrorMessage('city') }}
        </div>
    </div>

    <div class="form-group">
        <mat-form-field appearance="outline" class="w-106">
            <mat-label>Pays de résidence</mat-label>
            <mat-select formControlName="country" id="country" required
                      panelClass="country-select-panel"
                      (openedChange)="onPanelOpened($event)">
                <div class="search-container">
                    <input #searchInput class="search-input" placeholder="Rechercher un pays..." 
                           (click)="$event.stopPropagation()" 
                           (input)="filterCountries($event)">
                </div>
                <mat-option *ngFor="let country of filteredCountries" [value]="country">
                    {{ country }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="isInvalid('country')">
                {{ getErrorMessage('country') }}
            </mat-error>
        </mat-form-field>
    </div>
    
    <div class="form-group">
        <mat-form-field appearance="outline" class="w-106">
  <mat-label>Nationalité</mat-label>
  <mat-select formControlName="nationality" id="nationality" required>
    <mat-option *ngFor="let nat of nationalities" [value]="nat">{{ nat }}</mat-option>
  </mat-select>
  <mat-error *ngIf="isInvalid('nationality')">
    {{ getErrorMessage('nationality') }}
  </mat-error>
</mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field appearance="outline" class="w-106">
          <mat-label>Date de naissance</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthdate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [startAt]="form.get('birthdate')?.value ? form.get('birthdate')?.value : getStartDate()"></mat-datepicker>
          <mat-error *ngIf="isInvalid('birthdate')">
            {{ getErrorMessage('birthdate') }}
          </mat-error>
        </mat-form-field>
    </div>

</form>