<div *ngIf="!isMobile()" class="tooltip-container" [matTooltip]="text" matTooltipShowDelay="200">
  <div class="content-wrapper" [ngClass]="{'blink-tooltip': blink}">
    <ng-content></ng-content>
    <mat-icon *ngIf="showIcon" color="primary">{{ icon }}</mat-icon>
  </div>
</div>

<div *ngIf="isMobile()" class="menu-container">
  <button mat-icon-button [matMenuTriggerFor]="infoMenu" [ngClass]="{'blink-tooltip': blink}">
    <div class="content-wrapper">
      <ng-content></ng-content>
      <mat-icon *ngIf="showIcon" color="primary">{{ icon }}</mat-icon>
    </div>
  </button>
</div>

<mat-menu #infoMenu="matMenu">
  <div class="menu-content">{{ text }}</div>
</mat-menu>
