<div class="container-app">
  <div class="header-actions">
    <button mat-stroked-button color="primary" (click)="navigateToHome()" class="back-button">
      <mat-icon>arrow_back_ios</mat-icon> {{ 'common.backHome' | translate }}
    </button>
  </div>

  <h2 class="text-light">{{ 'guaranties.productQuestion' | translate }} </h2>
    <button class="btn btn-test" (click)="navigateToYearlyGuarantee()"> {{ 'guaranties.annualGuaranties' | translate }}</button>
    <button class="btn btn-test" (click)="navigateToEventGuarantee()"> {{ 'guaranties.eventGuaranties' | translate }}</button>
</div>