<nav class="navbar" #navbarRef>
  <div class="navbar-container">
    <a href="/" class="logo">
      <img src="images/assuracing.png" alt="Logo assuracing" />
    </a>

    <div class="menu-container">
      <ul class="menu" aria-label="Menu principal">
        <li class="menu-item desktop-only">
          <a class="menu-link" (click)="goHome(); $event.preventDefault();">
            <mat-icon>home</mat-icon>
            <span>{{ 'nav.home' | translate }}</span>
          </a>
        </li>

        <li class="menu-item language-item">
          <a (click)="toggleLangueDropdown($event)" class="language-selector">
            <img
              *ngIf="langue === 'fr'"
              src="flags/france.png"
              alt="{{ 'nav.french' | translate }}"
              class="flag-icon"
            />
            <img
              *ngIf="langue !== 'fr'"
              src="flags/royaume-uni.png"
              alt="{{ 'nav.english' | translate }}"
              class="flag-icon"
            />
            <span class="language-code desktop-only">{{
              langue.toUpperCase()
            }}</span>
          </a>
          <div
            class="dropdown"
            *ngIf="isLangueDropdownOpen"
            (click)="$event.stopPropagation()"
          >
            <a class="dropdown-item" (click)="changerLangue('fr')">
              <img src="flags/france.png" alt="{{ 'nav.french' | translate }}" class="flag-icon" />
              {{ 'nav.french' | translate }}
            </a>
            <a class="dropdown-item" (click)="changerLangue('en')">
              <img
                src="flags/royaume-uni.png"
                alt="{{ 'nav.english' | translate }}"
                class="flag-icon"
              />
              {{ 'nav.english' | translate }}
            </a>
          </div>
        </li>

        <li class="menu-item user-item" *ngIf="userService.isLoggedIn()">
          <div 
            class="user-greeting" 
            [class.welcome-animation]="showWelcome"
            (click)="toggleProfileMenu($event)"
            role="button"
            tabindex="0"
            (keydown.enter)="toggleProfileMenu($event)">
            <mat-icon class="welcome-icon">waving_hand</mat-icon>
            <span class="desktop-only">{{ 'nav.greeting' | translate }}{{ userService.getUser()?.firstName }}</span>
            <span class="mobile-only">{{ userService.getUser()?.firstName }}</span>
            <mat-icon class="dropdown-icon" [class.open]="isProfileMenuOpen">expand_more</mat-icon>
          </div>
          
          <div 
            class="profile-dropdown"
            *ngIf="isProfileMenuOpen"
            (click)="$event.stopPropagation()">
            <a class="dropdown-item" (click)="navigateAndClose('/user-contracts')">
              <mat-icon>assignment</mat-icon>
              <span>{{ 'nav.myContracts' | translate }}</span>
            </a>
            <a class="dropdown-item" (click)="navigateAndClose('/guarantee-choice')">
              <mat-icon>add_circle_outline</mat-icon>
              <span>{{ 'nav.subscribe' | translate }}</span>
            </a>
            <a class="dropdown-item" (click)="navigateAndClose('/declare-claim')">
              <mat-icon>report_problem</mat-icon>
              <span>{{ 'nav.claimDeclaration' | translate }}</span>
            </a>
            <a class="dropdown-item" (click)="navigateAndClose('/user-profil-info')">
              <mat-icon>person</mat-icon>
              <span>{{ 'nav.personalInfo' | translate }}</span>
            </a>
          </div>
          
          <button
            mat-button
            (click)="authService.logout()"
            class="logout-button">
            <mat-icon>logout</mat-icon>
            <span class="desktop-only">{{ 'nav.logout' | translate }}</span>
          </button>
        </li>

        <li class="menu-item login-item" *ngIf="!userService.isLoggedIn()">
          <a href="/login" class="login-button">
            <mat-icon>person</mat-icon>
            <span>{{ 'nav.login' | translate }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
