<p><strong> {{ 'motorsLeague.coverageHeading' | translate }}</strong></p>
<div class="coverage-buttons">
  <div *ngFor="let level of [1, 2, 3, 4, 5]"
       class="coverage-option"
       [class.selected]="form.get('coverageLevel')?.value === level"
       (click)="onProtectionLevelChange(level)">
    <div class="level">{{ 'eventCoverage.level' | translate }} {{ level }} <br> <span style="color: #0ba2cf">{{ PROTECTION_LEVELS[level].price }} €</span></div>
    <div class="coverage-details">
      <div class="coverage-item">
        <span class="label">{{ 'eventCoverage.death' | translate }} : {{ PROTECTION_LEVELS[level].death | number }} €</span>
      </div>
      <div class="coverage-item">
        <span class="label">{{ 'eventCoverage.disability' | translate }} : {{ PROTECTION_LEVELS[level].disability | number }} €</span>
      </div>
    </div>
  </div>
</div>

<div class="pricing-section">
    <div class="current-price">
      <span class="price-label">{{ 'eventCoverage.priceLabel' | translate }}</span>
      <span class="price-amount">
        {{ selectedPrice !== null ? (selectedPrice + ' €') : '-- €' }}
      </span>
    </div>
    <div class="partner-code">
      <label for="partnerCode">{{ 'claimDeclaration.partnerCode' | translate }}</label>
      <input type="text" id="partnerCode" name="partnerCode" [placeholder]="'claimDeclaration.partnerCodePlaceholder' | translate">
    </div>
</div>