<p><strong> Niveaux de couverture en cas de décès ou d'invalidité :</strong></p>
<div class="coverage-buttons">
  <div *ngFor="let level of [1, 2, 3, 4, 5]"
       class="coverage-option"
       [class.selected]="form.get('coverageLevel')?.value === level"
       (click)="onProtectionLevelChange(level)">
    <div class="level">Niveau {{ level }} <br> <span style="color: #0ba2cf">{{ PROTECTION_LEVELS[level].price }} €</span></div>
    <div class="coverage-details">
      <div class="coverage-item">
        <span class="label">Décès : {{ PROTECTION_LEVELS[level].death | number }} €</span>
      </div>
      <div class="coverage-item">
        <span class="label">Invalidité : {{ PROTECTION_LEVELS[level].disability | number }} €</span>
      </div>
    </div>
  </div>
</div>

<div class="pricing-section">
    <div class="current-price">
      <span class="price-label">Tarif</span>
      <span class="price-amount">
        {{ selectedPrice !== null ? (selectedPrice + ' €') : '-- €' }}
      </span>
    </div>
    <div class="partner-code">
      <label for="partnerCode">Code partenaire</label>
      <input type="text" id="partnerCode" name="partnerCode" placeholder="Entrez votre code">
    </div>
</div>