<div class="contract-container">
  <div class="contract-details-container">
    <div class="header-actions">
      <button mat-stroked-button color="primary" (click)="onBack()" class="back-button">
        <mat-icon>arrow_back_ios</mat-icon> Retour à la liste
      </button>
    </div>

  <mat-card *ngIf="loading" class="loading-card">
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
      <p><mat-icon>hourglass_empty</mat-icon> Chargement des détails du contrat...</p>
    </div>
  </mat-card>

  <div *ngIf="error" class="error-message">
    <mat-icon>error_outline</mat-icon>
    <span>{{ error }}</span>
  </div>

  <mat-card *ngIf="!loading && !error && contract" class="contract-card">
    <mat-card-header>
      <mat-card-title>Détails du contrat {{ getProductLabel(contract.produit.id) }}  #{{ contract.id }}</mat-card-title>
      <mat-card-subtitle>
        État: 
        <span class="status-badge" [class.validated]="contract.validated" [class.pending]="!contract.validated">
          <mat-icon>{{ contract.validated ? 'check_circle' : 'pending' }}</mat-icon>
          {{ contract.validated ? 'Validé' : 'En attente de paiement' }}
        </span>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="details-grid">
        <div class="detail-section">
          <h3 class="section-title">
            <mat-icon>assignment</mat-icon>
            Informations générales
          </h3>
          <div class="detail-row">
            <span class="detail-label">Circuit : </span>
            <span class="detail-value" style="display: flex; align-items: center">
              <ng-container *ngIf="contract.circuit.pays">
                <img [src]="countryFlagService.getCountryFlagUrl(contract.circuit.pays)" 
                     [alt]="'Drapeau ' + contract.circuit.pays"
                     style="width: 20px; height: 20px; margin-right: 8px;">
              </ng-container>
              {{ contract.circuit.nom || 'Non spécifié' }}
            </span>
          </div>
          <div class="detail-row">
            <span class="detail-label">Date de début : </span>
            <span class="detail-value">{{ contract.dateAdhesion | date:'d MMMM yyyy' }}</span>
          </div>
          <div class="detail-row">
            <span class="detail-label">Date de fin : </span>
            <span class="detail-value">{{ contract.dateFin | date:'d MMMM yyyy' }}</span>
          </div>
          <div class="detail-row">
            <span class="detail-label">Date de saisie : </span>
            <span class="detail-value">{{ contract.dateSaisie | date:'d MMMM yyyy' }}</span>
          </div>
          <div class="detail-row">
            <span class="detail-label">Montant inscription roulage garantie : </span>
            <span class="detail-value"> {{ contract.montantGarantie }} €</span>
          </div>
          <div class="detail-row">
            <span class="detail-label">Client : </span>
            <span class="detail-value">{{ contract.client.nom || 'Non spécifié' }}</span>
          </div>
          <div class="detail-row" *ngIf="contract.autre">
            <span class="detail-label">Autre : </span>
            <span class="detail-value">{{ contract.autre }}</span>
          </div>
        </div>

        <div class="detail-section">
          <h3 class="section-title">
            <mat-icon *ngIf="vehiculeDetails.type == 'AUTO'">directions_car</mat-icon>
            <mat-icon *ngIf="vehiculeDetails.type == 'MOTO'">two_wheeler</mat-icon>
            Véhicule
          </h3>
            <div class="detail-row">
                <span class="detail-label">Type : </span>
                <span class="detail-value">{{ vehiculeDetails.type || 'Non spécifié' }}</span>
            </div>
            <div class="detail-row">
                <span class="detail-label">Marque : </span>
                <span class="detail-value">{{ vehiculeDetails.marque || 'ND' }}</span>
            </div>
            <div class="detail-row">
                <span class="detail-label">Modèle : </span>
                <span class="detail-value">{{ vehiculeDetails.model || '' }}</span>
            </div>
            <div class="detail-row">
                <span class="detail-label">Immatriculation : </span>
                <span class="detail-value">{{ vehiculeDetails.immatriculation || 'ND' }} </span>
            </div>
            <div class="detail-row">
                <span class="detail-label">Numéro de série: </span>
                <span class="detail-value">{{ vehiculeDetails.numeroSerie || 'ND' }}</span>
            </div>
            <div class="detail-row">
                <span class="detail-label">Numéro de châssis: </span>
                <span class="detail-value">{{ vehiculeDetails.numeroChassis || 'ND' }}</span>
            </div>
        </div>
      </div>

      <div class="files-section" *ngIf="files.length > 0">
        <h3 class="section-title">
          <mat-icon>attach_file</mat-icon>
          Fichiers associés
        </h3>
        <div class="files-list">
          <div *ngFor="let file of files" class="file-item">
            <mat-icon>description</mat-icon>
            <span class="file-name">{{ file.nom || 'Fichier sans nom' }}</span>
            <a [href]="" target="_blank" mat-button color="primary">
              <mat-icon>download</mat-icon> Télécharger
            </a>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions align="end" *ngIf="!contract.validated">
      <button mat-raised-button color="primary" (click)="onPay()" class="action-button">
        <mat-icon>payment</mat-icon> Finaliser le paiement
      </button>
    </mat-card-actions>
  </mat-card>
</div>
