@media (max-width: 785px) {
    ::ng-deep .mat-step-header .mat-step-label {
      display: flex !important;
      flex-direction: column !important; 
      justify-content: center;
      text-align: center !important;
      margin-top: 4px;
      white-space: normal !important;    
      overflow: visible !important;      
      text-overflow: unset !important;
      width: auto !important;
      font-size: 0.9rem;                 
    }
  
    ::ng-deep .mat-step-header .mat-step-icon {
      width: 24px !important;
      height: 24px !important;
    }
  }
  
  
  @media (max-width: 508px) {
    ::ng-deep .mat-step-header .mat-step-label {
      font-size: 0.85rem !important;  
    }
  }
  