<!DOCTYPE html>

<div class="container-app">

    <h2>Garanties à l'année</h2>

    <h3>La protection de ma pratique</h3>

    <button class="btn btn-test" (click)="navigateToMotorsLeague()">Adhérer à la Motors League</button>

    <h3 style="margin-top: 15%;">Mes garanties de prévoyance adaptées aux sports mécaniques</h3>

    <button class="btn btn-test" style="display: flex; align-items: center; justify-content: center;"><mat-icon style="margin-right: 8px;">work</mat-icon> Protéger mon activité</button>
    <button class="btn btn-test" style="display: flex; align-items: center; justify-content: center;"><mat-icon style="margin-right: 8px;">home</mat-icon> Protéger mon prêt immo</button>
    <button class="btn btn-test" style="display: flex; align-items: center; justify-content: center;"><mat-icon style="margin-right: 8px;">local_hospital</mat-icon> Garantir mes frais de santé</button>
</div>