<div class="container-app">

    <button class="btn btn-test back-button" (click)="onBack()">
      <i class="fas fa-arrow-left"></i> {{ 'common.backHome' | translate }}
    </button>
    <h2 class="text-light">{{ 'guaranties.annualGuaranties' | translate }}</h2>
    <button class="btn btn-test" (click)="navigateToMotorsLeague()">
      {{ 'guaranties.coverSportsPractice' | translate }}
    </button>
  
    <h3 class="text-light" style="margin-top: 15%;">
      {{ 'guaranties.benefits' | translate }}
    </h3>
  
    <div class="btn-wrap">
        <button class="btn btn-test">
          <mat-icon>work</mat-icon>
          {{ 'guaranties.protectActivity' | translate }}
        </button>
        <span class="badge">{{ 'guaranties.comingSoon' | translate }}</span>
      </div>
      
      <div class="btn-wrap">
        <button class="btn btn-test">
          <mat-icon>home</mat-icon>
          {{ 'guaranties.protectMortgage' | translate }}
        </button>
        <span class="badge">{{ 'guaranties.comingSoon' | translate }}</span>
      </div>
      
      <div class="btn-wrap">
        <button class="btn btn-test">
          <mat-icon>local_hospital</mat-icon>
          {{ 'guaranties.healthCosts' | translate }}
        </button>
        <span class="badge">{{ 'guaranties.comingSoon' | translate }}</span>
      </div>
      
  </div>
  