<mat-horizontal-stepper [labelPosition]="labelPosition" linear #stepper (selectionChange)="onStepChange($event)" style="background-color: #02556e;">
    <mat-step [stepControl]="trackdayForm">
      <ng-template matStepLabel>{{ 'eventCoverage.yourEvent' | translate }}</ng-template>
        <form [formGroup]="trackdayForm">
          <app-trackday 
            [form]="trackdayForm" 
            [circuits]="circuits" 
            [isLoadingCircuits]="isLoadingCircuits"
            (organizerNameChange)="onOrganizerNameChange($event)">
          </app-trackday>
          <div class="mt-4">
            <button mat-button (click)="goToEventOrMotorsLeaguePage()" matStepperPrevious>{{ 'common.back' | translate }}</button>
            <button mat-button (click)="goToCoverageChoicesStep()" [disabled]="!trackdayForm.valid">{{ 'common.continue' | translate }}</button>
          </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="coverageOptionsForm">
      <ng-template matStepLabel>{{ 'eventCoverage.guaranties' | translate }}</ng-template>
      <form [formGroup]="coverageOptionsForm">
        <app-event-coverage-options
          [form]="coverageOptionsForm"
          [circuit]="trackdayForm.get('circuit')?.value"
          [eventDate]="trackdayForm.get('eventDate')?.value"
          [duration]="trackdayForm.get('duration')?.value"
          [isCalculatingPrice]="isCalculatingPrice"
          [garantiePrices]="garantiePrices"
          [trackdayForm]="trackdayForm"
          [organizerId]="trackdayForm.get('organizer')?.value"
          [eventType]="trackdayForm.get('eventType')?.value"
          [role]="trackdayForm.get('role')?.value"
          [disableIntempAnnul]="isEventDateLessThan3Weeks"
          (reservationAmountChanged)="calculateIAIPrices()"
          [defenseRecoursPrice]="defenseRecoursPrice"
          [vehicleType]="trackdayForm.get('vehicleType')?.value"
          (sectionInProgress)="onSectionInProgress($event)">
        </app-event-coverage-options>
        <div class="mt-4">
          <button mat-button matStepperPrevious>{{ 'common.back' | translate }}</button>
          <div style="display: inline-block; position: relative;">
            <div [matTooltip]="(sectionInProgress ? 'common.completeEntryToContinue' : '') | translate" matTooltipPosition="above">
              <button mat-button [disabled]="!coverageOptionsForm.valid || sectionInProgress" (click)="onContinueGuaranteeStep(stepper)">
                {{ sectionInProgress ? ('common.completeEntry' | translate) : ('common.continue' | translate) }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-step>
  
    <mat-step [stepControl]="personalForm" (selectionChange)="onStepChange($event)">
      <ng-template matStepLabel>{{ 'eventCoverage.infoStep' | translate }}</ng-template>
      <div *ngIf="step2Page === 1">
        <form [formGroup]="personalForm">
          <app-personal-info [form]="personalForm" [nationalities]="nationalities" [nationalitiesMap]="nationalitiesMap"></app-personal-info>
          <div class="mt-4">
            <button mat-button matStepperPrevious>{{ 'common.back' | translate }}</button>
            <button mat-button (click)="goToNextStep()" [disabled]="!personalForm.valid">{{ 'common.continue' | translate }}</button>
          </div>
        </form>
      </div>
  
      <div *ngIf="step2Page === 2 && isMinor()">
        <form [formGroup]="RepresentativeLegalForm">
          <app-representative-legal [form]="RepresentativeLegalForm"></app-representative-legal>
          <div class="mt-4">
            <button mat-button (click)="step2Page = 1">{{ 'common.back' | translate }}</button>
            <button mat-button (click)="sendVerificationEmail()" matStepperNext [disabled]="!RepresentativeLegalForm.valid">{{ 'common.continue' | translate }}</button>
          </div>
        </form>
      </div>
    </mat-step>
  
    <mat-step *ngIf="trackdayForm.get('role')?.value == 'PILOTE'" [stepControl]="vehicleForm">
      <ng-template matStepLabel>{{ 'eventCoverage.risksStep' | translate }}</ng-template>
      <form [formGroup]="vehicleForm">
        <app-vehicle-info 
          [form]="vehicleForm" 
          [vehicleType]="trackdayForm.get('vehicleType')?.value"
          (vehicleAdded)="handleVehicleAdded($event)"
          [userAge]="calculateAge(personalForm.get('birthdate')?.value)">
        </app-vehicle-info>
        <div class="mt-4">
          <button mat-button matStepperPrevious>{{ 'common.back' | translate }}</button>
          <button mat-button (click)="goToSummaryFromVehicle()" [disabled]="!vehicleForm.valid">{{ 'common.continue' | translate }}</button>
        </div>
      </form>
    </mat-step>
  
    <mat-step [stepControl]="summaryForm">
      <ng-template matStepLabel>{{ 'eventCoverage.summaryStep' | translate }}</ng-template>
      <div class="login-form">
        <h2 class="text-dark">{{ 'summary.title' | translate }}</h2>
        <div class="summary-container">
          <p><strong>{{ 'summary.lastname' | translate }} :</strong> {{personalForm.get('lastname')?.value}}</p>
          <p><strong>{{ 'summary.firstname' | translate }} :</strong> {{personalForm.get('firstname')?.value}}</p>
          <p><strong>{{ 'summary.address' | translate }} :</strong> {{personalForm.get('address')?.value}}</p>
          <p><strong>{{ 'summary.nationality' | translate }} :</strong> {{personalForm.get('nationality')?.value}}</p>
          <p><strong>{{ 'summary.email' | translate }} :</strong> {{personalForm.get('email')?.value}}</p>
          <p><strong>{{ 'summary.phone' | translate }} :</strong> {{personalForm.get('phone')?.value}}</p>
        </div>

        <div *ngIf="this.trackdayForm.get('role')?.value == 'PILOTE'" class="summary-container">
            <div class="vehicle-info">
              <p><strong>{{ 'summary.drivingLicense' | translate }} :</strong> {{formatPermisType(vehicleForm.get('titreConduite')?.value)}}</p>
              <p *ngIf="this.trackdayForm.get('role')?.value == 'PILOTE'" ><strong>{{ 'summary.vehicle' | translate }} :</strong> {{formatVehicleType(vehicleForm.get('type')?.value)}} - {{vehicleForm.get('brand')?.value}} - {{vehicleForm.get('model')?.value}} - {{vehicleForm.get('immatNumber')?.value}}</p>
            </div>    
        </div>

        <div *ngIf="this.trackdayForm.get('role')?.value == 'PASSAGER'" class="summary-section">
          <div class="vehicle-info">
            <p><strong>{{ 'summary.vehicle' | translate }} :</strong> {{formatVehicleType(trackdayForm.get('vehicleType')?.value)}}</p>
          </div>
        </div>

        <p class="text-dark" [innerHTML]="formatCoverageSummary()"></p>

        <p class="text-dark" [innerHTML]="'summary.terms' | translate : {name: (isMinor() ? RepresentativeLegalForm.get('representativeLastname')?.value + ' ' + RepresentativeLegalForm.get('representativeFirstname')?.value : personalForm.get('lastname')?.value + ' ' + personalForm.get('firstname')?.value), role: getTermsRoleLabel()}" ></p>
        <p>
          <mat-checkbox [checked]="acceptTerms" (change)="acceptTerms = $event.checked"></mat-checkbox>
        </p>

        <p class="text-red" *ngIf="isMinor()">{{ 'summary.verificationMessage' | translate }} {{RepresentativeLegalForm.get('representativeEmail')?.value}}</p>

        <form [formGroup]="summaryForm">
          <mat-form-field *ngIf="isMinor()">
            <mat-label>{{ 'summary.verificationCode' | translate }}</mat-label>
            <input matInput type="text" formControlName="verificationCode">
          </mat-form-field>
        </form>
    </div>

    <div class="mt-4">
      <button mat-button matStepperPrevious>{{ 'common.back' | translate }}</button>
      <button mat-button *ngIf="isMinor()" (click)="verifyCode()" [disabled]="!acceptTerms || (isMinor() && !summaryForm.valid)">{{ 'common.payment' | translate }}</button>
      <button mat-button *ngIf="!isMinor()" (click)="onSubmit()" [disabled]="!acceptTerms">{{ 'common.payment' | translate }}</button>
    </div>
    </mat-step>
  
    <mat-step [stepControl]="paymentForm">
      <ng-template matStepLabel>{{ 'common.payment' | translate }}</ng-template>
      <form [formGroup]="paymentForm">
        <app-payment [form]="paymentForm"></app-payment>
        <div class="mt-4">
          <button mat-button matStepperPrevious>{{ 'common.back' | translate }}</button>
          <button mat-button (click)="onSubmit()">{{ 'common.validate' | translate }}</button>
        </div>
      </form>
    </mat-step>

  </mat-horizontal-stepper>
  