<div class="container-app">

<form class="login-form" (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
    <h2>{{ 'auth.resetTitle' | translate }}</h2>
    <p>{{ 'auth.resetInstructions' | translate }}</p>
    <div class="form-group">
        <label for="email">{{ 'auth.email' | translate }}</label>
        <input [(ngModel)]="email" [placeholder]="'auth.emailPlaceholder' | translate" type="email" id="email" name="email" class="form-control" required>
    </div>
    
    <div *ngIf="forgotPasswordForm.submitted && !email" class="error-message">
        {{ 'auth.emailRequired' | translate }}
    </div>
        <button 
            type="submit"
            class="btn btn-primary"
            [disabled]="!forgotPasswordForm.form.valid">
            {{ 'auth.resetButton' | translate }}
        </button>
</form>
</div>