<mat-horizontal-stepper linear [labelPosition]="labelPosition" #stepper (selectionChange)="onStepChange($event)" style="background-color: #02556e;">
  <mat-step>
    <ng-template matStepLabel>Votre véhicule</ng-template>
    
    <form class="login-form">
      <div class="form-group">
        <div class="vehicle-group" style="margin-top: 20px;">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Votre véhicule</mat-label>
            <mat-select [value]="vehicleType" (selectionChange)="onVehicleTypeChange($event.value)">
              <mat-select-trigger>
                <mat-icon>{{ getVehicleIcon(vehicleType) }}</mat-icon>
                {{ getVehicleLabel(vehicleType) }}
              </mat-select-trigger>
          
              <mat-option *ngFor="let v of vehicleTypes" [value]="v.value">
                <mat-icon>{{ v.icon }}</mat-icon> {{ v.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="mt-4">
          <button mat-button (click)="goToYearlyGuarantee()">Retour</button>
          <button mat-button matStepperNext [disabled]="!vehicleType">Continuer</button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="coverageForm">
    <ng-template matStepLabel>Vos garanties</ng-template>

    <form [formGroup]="coverageForm">
      <app-motors-league-coverage-options [form]="coverageForm" [vehicleType]="vehicleType || undefined"
(sectionInProgress)="onSectionInProgress($event)"></app-motors-league-coverage-options>

      <div class="mt-4">
        <button mat-button matStepperPrevious>Retour</button>
        <div style="display: inline-block; position: relative;">
          <div [matTooltip]="sectionInProgress ? 'Vous devez valider ou supprimer la garantie en cours de saisie pour continuer' : ''" matTooltipPosition="above">
            <button mat-button
                    [disabled]="!coverageForm.valid || sectionInProgress"
                    (click)="onContinueGuaranteeStep(stepper)">
              {{ sectionInProgress ? 'Terminer la saisie pour continuer' : 'Continuer' }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="personalForm" (selectionChange)="onStepChange($event)">
    <ng-template matStepLabel>Vos informations</ng-template>
    <div *ngIf="step2Page === 1">
      <form [formGroup]="personalForm">
        <app-personal-info [form]="personalForm" [nationalities]="nationalities"></app-personal-info>
        <div class="mt-4">
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button (click)="goToNextStep()" [disabled]="!personalForm.valid">Continuer</button>
        </div>
      </form>
    </div>

    <div *ngIf="step2Page === 2 && isMinor()">
      <form [formGroup]="RepresentativeLegalForm">
        <app-representative-legal [form]="RepresentativeLegalForm"></app-representative-legal>
        <div class="mt-4">
          <button mat-button (click)="step2Page = 1">Retour</button>
          <button mat-button (click)="sendVerificationEmail()" matStepperNext [disabled]="!RepresentativeLegalForm.valid">Continuer</button>
        </div>
      </form>
    </div>
  </mat-step>

  <mat-step [stepControl]="vehicleForm">
    <ng-template matStepLabel>Vos Risques</ng-template>
    <form [formGroup]="vehicleForm">
      <app-vehicle-info 
        [form]="vehicleForm" 
        [vehicleType]="vehicleType"
        [userAge]="userAge"
        (vehicleAdded)="handleVehicleAdded($event)"
        (vehicleRemoved)="onVehicleRemoved($event)">
      </app-vehicle-info>
      <div class="mt-4">
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button matStepperNext [disabled]="!vehicleForm.valid">Continuer</button>
        <!-- <button mat-button (click)="saveVehicle()" matStepperNext [disabled]="!vehicleForm.valid">Enregistrer et continuer</button>   -->
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="summaryForm">
    <ng-template matStepLabel>Resumé</ng-template>
    <div class="login-form">
      <div class="summary-container">
        <h3>Informations personnelles</h3>
          <p class="text-dark"><strong>Nom :</strong> {{personalForm.get('lastname')?.value}}</p>
          <p class="text-dark"><strong>Prénom :</strong> {{personalForm.get('firstname')?.value}}</p>
          <p class="text-dark"><strong>Adresse :</strong> {{personalForm.get('address')?.value}}</p>
          <p class="text-dark"><strong>Nationalité :</strong> {{personalForm.get('nationality')?.value}}</p>
          <p class="text-dark"><strong>Email :</strong> {{personalForm.get('email')?.value}}</p>
          <p class="text-dark"><strong>Téléphone :</strong> {{personalForm.get('phone')?.value}}</p>
      </div>

      <div class="summary-container">
      <h3>Véhicules</h3>
        <!-- <div *ngFor="let vehicle of vehicles; let i = index" class="vehicle-summary">
          <div class="vehicle-info"> -->
            <p>
              <strong>Véhicule</strong> : {{vehicleForm.get('type')?.value}} - {{vehicleForm.get('brand')?.value}} - {{vehicleForm.get('model')?.value}} - 
              <span *ngIf="vehicleForm.get('identificationNumber')?.value === 'immat'">{{vehicleForm.get('immatNumber')?.value}}</span>
              <span *ngIf="vehicleForm.get('identificationNumber')?.value === 'chassis'">{{vehicleForm.get('chassisNumber')?.value}}</span>
              <span *ngIf="vehicleForm.get('identificationNumber')?.value === 'serie'">{{vehicleForm.get('serieNumber')?.value}}</span>
            </p>
          </div>
        <!-- </div>
      </div> -->

      <div class="summary-container">
      <h3 style="color: #111">Garanties annuelles sélectionnées</h3>
      <ul>
        <li *ngIf="coverageForm.get('protectionPilote')?.value" style="color: #111">
          Protection du pilote niveau {{ coverageForm.get('protectionPilote')?.value }} <span>(annuelle)</span>
        </li>
        <li *ngIf="coverageForm.get('defenseRecours')?.value" style="color: #111">
          Défense Recours <span>(annuelle)</span>
        </li>
        <li *ngIf="coverageForm.get('responsabiliteCivile')?.value" style="color: #111">
          Responsabilité Civile <span>(annuelle)</span>
        </li>
        <li *ngIf="!coverageForm.get('protectionPilote')?.value && !coverageForm.get('defenseRecours')?.value && !coverageForm.get('responsabiliteCivile')?.value" style="color: #111">
          <span class="text-danger">Aucune garantie sélectionnée</span>
        </li>
      </ul>

      <p class="text-dark-center" style="color: #111; font-weight: bold;">
        Prime annuelle totale :
        <span>
          {{ getTotalPrime() ? formatNumber(getTotalPrime()) : '--' }} €
        </span>
      </p>
    </div>
      <div class="signature-section">
        <p class="text-dark">Je, soussigné(e) {{isMinor() ? RepresentativeLegalForm.get('representativeLastname')?.value + ' ' + RepresentativeLegalForm.get('representativeFirstname')?.value : personalForm.get('lastname')?.value + ' ' + personalForm.get('firstname')?.value}}, 
          {{isMinor() ? 'représentant légal de l\'assuré(e) ci-dessus dénommé' : 'assuré(e)'}} confirme avoir pris connaissance <a href="https://www.assuracing.com/documents" target="_blank">des éléments contractuels</a> du/des produit(s) indiqué(s) ci-dessus et confirme valider ma souscription aux garanties listées :
          <mat-checkbox [checked]="acceptTerms" (change)="acceptTerms = $event.checked"></mat-checkbox>
        </p>
        
        <p class="text-red" *ngIf="isMinor()">Veuillez saisir le code de vérification qui a été envoyé à votre email {{RepresentativeLegalForm.get('representativeEmail')?.value}}</p>

        <form [formGroup]="summaryForm">
          <mat-form-field *ngIf="isMinor()">
            <mat-label>Code de vérification</mat-label>
            <input matInput type="text" formControlName="verificationCode">
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="mt-4">
      <button mat-button matStepperPrevious>Retour</button>
      <button mat-button *ngIf="isMinor()" (click)="verifyCode()" [disabled]="!acceptTerms || (isMinor() && !summaryForm.valid)">Paiement</button>
      <button mat-button *ngIf="!isMinor()" (click)="onSubmit()" [disabled]="!acceptTerms">Paiement</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="paymentForm">
    <ng-template matStepLabel>Paiement</ng-template>
    <form [formGroup]="paymentForm">
      <app-payment [form]="paymentForm"></app-payment>
      <div class="mt-4">
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button (click)="onSubmit()">Valider</button>
      </div>
    </form>
  </mat-step>

</mat-horizontal-stepper>
