<div *ngIf="!userService.isLoggedIn()" class="container-app">
<div class="accueil-container">
  <div class="options">
      <h2 class="text-light">{{ 'home.welcomeTitle' | translate }}</h2>
      <div class="carte" (click)="goToLogin()">
          <h3>{{ 'home.existingCustomer' | translate }}</h3>
          <p>{{ 'home.loginCTA' | translate }}</p>
      </div>
      <div class="carte" (click)="goToGuaranteeChoice()">
          <h3>{{ 'home.newCustomer' | translate }}</h3>
          <p>{{ 'home.startCTA' | translate }}</p>
      </div>
  </div>
</div>
</div>

<div *ngIf="userService.isLoggedIn() && userService.hasRole('ROLE_USER') && !userService.hasRole('ROLE_ADMIN')"
  class="container-app">
  <h2 class="text-light">{{ 'home.welcomeAuth' | translate }}{{ userService.getUser()?.firstName }} !</h2>
  <button (click)="goToUserContracts()" class="btn btn-test">
    <mat-icon style="vertical-align: middle; margin-right: 4px;">list_alt</mat-icon>
      {{ 'home.myContractsBtn' | translate }}
  </button>
  <button (click)="goToGuaranteeChoice()" class="btn btn-test">
    <mat-icon style="vertical-align: middle; margin-right: 4px;">assignment</mat-icon>
      {{ 'home.subscribeBtn' | translate }}
  </button>
  <button (click)="goToUserProfilInfo()" class="btn btn-test">
      <mat-icon style="vertical-align: middle; margin-right: 4px;">settings</mat-icon>
      {{ 'home.personalInfoBtn' | translate }}
  </button>
  <button (click)="goToClaimDeclaration()" class="btn btn-test">
      <mat-icon style="vertical-align: middle; margin-right: 4px;">report_problem</mat-icon>
      {{ 'home.claimBtn' | translate }}
  </button>
</div>

<div *ngIf="userService.isLoggedIn() && userService.hasRole('ROLE_ADMIN')">
  <h2>{{ 'home.welcomeAuth' | translate }}{{ userService.getUser()?.firstName }} !</h2>
</div>