<h2 style="display: flex; justify-content: center;">{{ 'representativeLegal.legalRepresentativeInfo' | translate }}</h2>
<form class="login-form">

    <h3>{{ 'representativeLegal.legalRepresentativeTitle' | translate }}</h3>
    <div class="form-group">
        <label for="password">{{ 'profile.lastName' | translate }}</label>
        <input [(ngModel)]="representativeLastname" type="text" id="representativeLastname" name="representativeLastname" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="username">{{ 'profile.firstName' | translate }}</label>
        <input [(ngModel)]="representativeFirstname" type="text" id="representativeFirstname" name="representativeFirstname" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="email">{{ 'profile.email' | translate }}</label>
        <input [(ngModel)]="representativeEmail" type="email" id="representativeEmail" name="representativeEmail" class="form-control" required>
    </div>   

</form>

<p class="code"> <strong>{{ 'representativeLegal.codeEmailNotice' | translate }}</strong></p>
